.git
.venv
.pytest_cache
__pycache__
*.pyc
.DS_Store

notebooks/data
notebooks/**/*.ipynb
data_generator/output
data_pipeline/output
data_pipeline/lake
feature_store/feature_repo/data

coursework
tasks
*.log

